<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <title>Sounds of Serenity | Credits</title>
</head>
<body>
    <h2>Thanks to all these amazing artists who allow people to use their work for free!</h2>
    <hr>
    <h3>Music below promoted by <a href="https://www.free-stock-music.com">free-stock-music</a> under these licenses:</h3>
    <small>
        <a href="https://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a><br>
        <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 Unported</a><br>
        <a href="https://creativecommons.org/licenses/by-nd/3.0/">Attribution-NoDerivs 3.0 Unported (CC BY-ND 3.0)</a><br>
        <a href="https://creativecommons.org/licenses/by/4.0/">Attribution 4.0 International (CC BY 4.0)</a><br>
    </small>
    <hr>
    <ul>
        <li>Stars (Extended) by Vlad Gluschenko | <a href="https://soundcloud.com/vgl9">Check them out here</a></li>
        <li>Yugen by Keys of Moon | <a href="https://soundcloud.com/keysofmoon">Check them out here</a></li>
        <li>Late Night Coffee Chat by chillin_wolf | <a href="https://soundcloud.com/chillin_wolf">Check them out here</a></li>
        <li>Waiting by Ghostrifter Official | <a href="https://soundcloud.com/ghostrifter-official">Check them out here</a></li>
        <li>mood. by sakura Hz | <a href="https://soundcloud.com/sakurahertz">Check them out here</a></li>
        <li>Equinox by Purrple Cat | <a href="https://purrplecat.com">Check them out here</a></li>
        <li>Calm Waters by Purrple Cat | <a href="https://purrplecat.com">Check them out here</a></li>
        <li>Path Of The Fireflies by AERØHEAD | <a href="https://soundcloud.com/aerohead">Check them out here</a></li>
        <li>Green Tea by Purrple Cat | <a href="https://purrplecat.com">Check them out here</a></li>
        <li>Caramellow by Purrple Cat | <a href="https://purrplecat.com">Check them out here</a></li>
        <li>bedtime after a coffee by Barradeen | <a href="https://soundcloud.com/barradeen">Check them out here</a></li>
        <li>Wild Strawberry by Purrple Cat | <a href="https://purrplecat.com">Check them out here</a></li>
        <li>Black Cherry by Purrple Cat | <a href="https://purrplecat.com">Check them out here</a></li>
        <li>Frolic by Purrple Cat | <a href="https://purrplecat.com">Check them out here</a></li>
        <li>Wishing Well by Purrple Cat | <a href="https://purrplecat.com">Check them out here</a></li>
        <li>Sand Castles by Purrple Cat | <a href="https://purrplecat.com">Check them out here</a></li>
        <li>Easy by Ron Gelinas Chillout Lounge | <a href="https://soundcloud.com/atmospheric-music-portal">Check them out here</a></li>
    </ul>
    <hr>
    <h3>Music below promoted by <a href="http://bit.ly/Savfk-TheGrid">BreakingCopyright</a> under these licenses:</h3>
    <small>
        <a href="https://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons 3.0</a>
    </small>
    <hr>
    <ul>
        <li>Doug Maxwell - Lau Tzu Ehru</li>
        <li>PeriTune - Wuxia2</li>
        <li>Peritune - Sakuya4</li>
    </ul>
    <hr>
    <h4>More audio was obtained from the <a href="https://www.youtube.com/audiolibrary/music">YouTube Audio Library</a></h4>
    <h4>Sound effects obtained from <a href=" https://www.zapsplat.com">ZapSplat</a></h4>
    <a href="/">Go back</a>
</body>
</html>
